.bigger_banner_wrap a {
    color: inherit;
    text-decoration: none;
}
.big_banner_wrap {
    overflow: hidden;
    position: relative;
    height: 400px;
    margin-bottom: 31px;
}
.big_banner_wrap .bx_wrapper {
    position: relative;
    width: 980px;
    height: 400px;
    margin: 0 auto;
}
.category_wrap {
    position: relative;
    margin-top: 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    z-index: 101/*border-bottom:1px solid #ccc*/;
}
.category_contents_wrap {
    overflow: hidden;
    position: relative;
    width: 980px;
    min-width: 980px;
    margin: 0 auto;
    padding: 18px 0 0;
    background-color: #fff;
}
.category_content {
    float: left;
    position: relative;
    overflow: hidden;
    max-width: 740px;
    line-height: 26px;
}
.category_content li {
    float: left;
    /* padding-left: 8px; */
    padding-right: 16px;
    padding-bottom: 14px;
}
.category_content li a {
    position: relative;
    padding: 0 50px;
    font-family: 'CJONLYONENEW';
    font-weight: 500;
    font-size: 16px;
    color: #212529;
}
.cart_content {
    position: absolute;
    right: 0;
    top: 50%;
    /* float: right; */
    overflow: hidden;
    line-height: 26px;
    margin-top: -13px;
    border-left: 1px solid #ccc;
}
.cart_content li:first-child {
    padding-left: 23px;
}
.cart_content li {
    float: left;
    padding-left: 12px;
}
.cart_content li a {
    all: unset;
    cursor: pointer;
    overflow: hidden;
    font-family: 'CJONLYONENEW';
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
.cart_content li a + span {
    float: right;
    position: relative;
    top: 3px;
    min-width: 12px;
    margin-left: 8px;
    padding: 0 4px;
    font-family: 'CJONLYONENEW';
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    background-color: #fb4357;
    border-radius: 10px;
    outline: none;
}
.bigger_banner_wrap dl:after, .bigger_banner_wrap ul:after, .bigger_banner_wrap ol:after {
    content: '';
    clear: both;
    display: block;
}
.category_wrap:after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 1;
}

.category_content li.active a {
    color: #B20710;
}

.category_content li.active a:before {
    content: '';
    position: absolute;
    left: 0;
    /* bottom: -19px; */
    top: 25px;
    width: 30%;
    height: 3px;
    margin-left: 47px;
    background-color: #B20710;
    z-index: 2;
}