.big_category_wrap div {
    display: block;
}
.big_category_wrap body, .big_category_wrap input, .big_category_wrap textarea, .big_category_wrap select, .big_category_wrap button, .big_category_wrap table {
    font-size: 13px;
    line-height: 1.2;
    color: #666;
    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-weight: 400;
}
.cart_step_wrap {
    width: 980px;
    margin: 0 auto;
    font-family: 'CJONLYONENEW';
    text-align: center;
}
.cart_step_wrap .cart_step {
    overflow: hidden;
    margin: 54px auto 0;
    font-size: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.big_category_wrap ol, .big_category_wrap ul {
    list-style: none;
}
.cart_step_wrap .cart_step.step_unit4 li {
    margin-right: 34px;
    padding-right: 52px;
}
.cart_step_wrap .cart_step li {
    display: inline-block;
    position: relative;
    padding-left: 53px;
}
.cart_step_wrap .cart_step li.step0.active:before {
    background-position: left -33px;
}
.cart_step_wrap .cart_step li.step0:before {
    background-position: left top;
}
.cart_step_wrap .cart_step li:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 38px;
    height: 33px;
    margin-top: -14px;
    /* background: transparent url(./../../images/giftstore/common/bg_stepIcon.png) left top scroll no-repeat; */
}
.cart_step_wrap .cart_step li.active span, .cart_step_wrap .cart_step li.active strong {
    color: #f00;
}
.cart_step_wrap .cart_step li span {
    display: block;
    font-weight: 400;
    font-size: 13px;
    color: #8d8d8d;
    line-height: 22px;
}
.cart_step_wrap .cart_step li strong {
    display: block;
    font-family: 'CJONLYONENEW';
    font-weight: 500;
    font-size: 22px;
    color: #8d8d8d;
    line-height: 22px;
}
.cart_step_wrap .cart_step li:after {
    content: '';
    float: right;
    position: absolute;
    right: 0;
    top: 50%;
    width: 18px;
    height: 30px;
    margin-top: -15px;
    /* background: transparent url(./../../images/giftstore/common/bg_step_arrow.png) left top scroll no-repeat; */
}
.cart_step_wrap .cart_step.step_unit4 li {
    margin-right: 34px;
    padding-right: 52px;
}
.cart_step_wrap .cart_step li.step1:before {
    background-position: -38px top;
}
.cart_step_wrap .cart_step.step_unit4 li {
    margin-right: 34px;
    padding-right: 52px;
}
.cart_step_wrap .cart_step li {
    display: inline-block;
    position: relative;
    padding-left: 53px;
}
.cart_step_wrap .cart_step li:last-child {
    margin-right: 0 !important;
    padding-right: 0 !important;
}
.com_cart_list_wrap {
    overflow: hidden;
    width: 980px;
    margin: 0 auto;
    padding-top: 50px;
    font-family: 'CJONLYONENEW';
}
.com_cart_list_wrap .cart_allchecker_wrap {
    overflow: hidden;
    padding: 12px 20px 13px;
    background-color: #fafafa;
    border-top: 3px solid #000;
    margin-bottom: 0;
}
input[type="checkbox"].com_custom_checkbox {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(0,0,0,0);
    border: 0;
}
.big_category_wrap input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}
input[type="checkbox"].com_custom_checkbox + label {
    float: left;
    position: relative;
    margin-right: 15px;
    font-size: 0;
    cursor: pointer;
    user-select: none;
}
input[type="checkbox"].com_custom_checkbox:checked + label:before {
    background-position: -26px -1px;
}
input[type="checkbox"].com_custom_checkbox + label:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 0;
}
.com_cart_list_wrap .cart_allchecker_wrap strong.com_custom_checkbox_product_name {
    width: 420px;
    text-align: left;
    text-indent: 86px;
}
.com_cart_list_wrap .cart_allchecker_wrap strong {
    float: left;
    position: relative;
    top: 1px;
    font-family: 'CJONLYONENEW';
    font-weight: 400;
    font-size: 15px;
    color: #000;
    line-height: 24px;
    text-align: center;
}
.com_cart_list_wrap .cart_allchecker_wrap strong.com_custom_checkbox_sel_price {
    width: 115px;
}
.com_cart_list_wrap .cart_allchecker_wrap strong.com_custom_checkbox_cnt {
    width: 195px;
}
.com_cart_list_wrap .cart_allchecker_wrap strong.com_custom_checkbox_price {
    width: 108px;
}
.com_cart_list_wrap .cart_allchecker_wrap strong.com_custom_checkbox_product_sel {
    width: 127px;
    margin-left: 30px;
}
.com_cart_list_wrap .com_list_style1 {
    padding: 0;
    border-bottom: 1px solid #000;
}
.com_cart_list_wrap .com_list_style1 > li {
    overflow: hidden;
    position: relative;
    padding: 20px 0 0;
    padding-left: 50PX;
    border-top: 1px solid #d6d6d6;
}
input[type="checkbox"].com_custom_checkbox {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(0,0,0,0);
    border: 0;
}
.com_cart_list_wrap .com_list_style1 > li input[type="checkbox"].com_custom_checkbox + label {
    margin-left: 20px;
}
input[type="checkbox"].com_custom_checkbox + label {
    float: left;
    position: relative;
    margin-right: 15px;
    font-size: 0;
    cursor: pointer;
    user-select: none;
}
input[type="checkbox"].com_custom_checkbox:checked + label:before {
    background-position: -26px -1px;
}
input[type="checkbox"].com_custom_checkbox + label:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 0;
    /* background: transparent url(./../../images/giftstore/common/bg_checkbox_radio.png) -1px -1px scroll no-repeat; */
}
.com_cart_list_wrap .com_list_style1 > li input[type="checkbox"].com_custom_checkbox ~ .product_info_img {
    overflow: hidden;
}
.com_cart_list_wrap .com_list_style1 > li .product_info_img {
    all: unset;
    cursor: pointer;
    display: block;
    float: left;
    width: 360px;
    margin-bottom: 20px;
}
.com_cart_list_wrap .com_list_style1 > li input[type="checkbox"].com_custom_checkbox ~ .product_info_img img {
    position: static;
    left: auto;
}
.com_cart_list_wrap .com_list_style1 > li .product_info_img img {
    float: left;
    position: relative;
    left: -20px;
    width: 90px;
    margin-right: 17px;
}
.com_cart_list_wrap .com_list_style1 > li .product_info_img .product_info_name {
    display: block;
    margin-top: 16px;
    font-family: 'CJONLYONENEW';
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
.com_cart_list_wrap .com_list_style1 > li .product_info_img .product_info_origin {
    display: block;
    margin-top: 8px;
    font-weight: 400;
    font-size: 15px;
    color: #6a6f77;
}
.com_cart_list_wrap .com_list_style1 > li .product_info_wrap {
    float: left;
    width: 115px;
    text-align: center;
}
.product_info_wrap.not_sale .product_info_one_price {
    margin-top: 0;
    height: 85px;
    line-height: 85px;
}
.com_cart_list_wrap .com_list_style1 > li .product_info_wrap .product_info_one_price {
    display: block;
    margin-top: 30px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 17px;
    color: #000;
}
.com_cart_list_wrap .com_list_style1 > li .product_info_wrap .product_info_one_price:after {
    content: '원';
    font-size: 14px;
}
.com_cart_list_wrap .com_list_style1 > li .product_info_cnt_wrap {
    float: left;
    position: relative;
    width: 98px;
    margin-top: 30px;
    margin-left: 15px;
    padding: 0 34px;
}
.com_cart_list_wrap .com_list_style1 > li .product_info_cnt_wrap .com_form_count {
    float: left;
    width: 36px;
    height: 29px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    line-height: 29px;
    text-align: center;
    border: 1px solid #bdc1c8;
    border-right: none;
}
.com_cart_list_wrap .com_list_style1 > li .product_info_cnt_wrap .com_btn_plus {
    position: absolute;
    left: 71px;
    width: 18px;
    height: 14px;
    font-size: 0;
    border: 1px solid #bdc1c8;
}
.com_cart_list_wrap .com_list_style1 > li .product_info_cnt_wrap .com_btn_plus:before {
    content: '';
    display: block;
    width: 10px;
    height: 7px;
    margin: 4px auto;
    /* background: transparent url(./../../images/giftstore/common/bg_plus_minus_arrow.png) left top scroll no-repeat; */
}
.com_cart_list_wrap .com_list_style1 > li .product_info_cnt_wrap .com_btn_minus {
    position: absolute;
    left: 71px;
    top: 16px;
    width: 18px;
    height: 14px;
    font-size: 0;
    border: 1px solid #bdc1c8;
    border-top: none;
}
.com_cart_list_wrap .com_list_style1 > li .product_info_cnt_wrap .com_btn_minus:before {
    content: '';
    display: block;
    width: 10px;
    height: 7px;
    margin: 3px auto;
    /* background: transparent url(./../../images/giftstore/common/bg_plus_minus_arrow.png) -10px top scroll no-repeat; */
}
.com_cart_list_wrap .com_list_style1 > li .product_info_cnt_wrap .btn_change {
    float: right;
    width: 36px;
    height: 29px;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #4b4f56;
    line-height: 29px;
    border: 1px solid #bdc1c8;
}
.com_cart_list_wrap .com_list_style1 > li .product_info_price {
    float: left;
    margin-top: 30px;
    margin-left: 60px;
    width: 108px;
    font-weight: 500;
    font-size: 17px;
    color: #000;
    text-align: center;
}
.com_cart_list_wrap .com_list_style1 > li .product_info_price:after {
    content: '원';
    font-size: 14px;
}
.com_cart_list_wrap .com_list_style1 > li .product_info_btn_wrap {
    float: left;
    overflow: hidden;
    width: 84px;
    margin: 8px 19px 28px 25px;
}
.com_cart_list_wrap .com_list_style1 > li .product_info_btn_wrap a:first-child {
    margin-top: 20px;
}
.com_cart_list_wrap .com_list_style1 > li .product_info_btn_wrap a {
    display: block;
    float: left;
    width: 100%;
    height: 32px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    background-color: #4b4f56;
}
.com_cart_list_wrap .com_list_style1 > li .btn_product_delect {
    float: left;
    width: 22px;
    height: 22px;
    margin-top: 33px;
    font-size: 0;
    /* background: transparent url(./../../images/giftstore/common/bg_closedBtn.png) center center scroll no-repeat; */
    border: 1px solid #bebebe;
}
.big_category_wrap dl:after, .big_category_wrap ul:after, .big_category_wrap ol:after {
    content: '';
    clear: both;
    display: block;
}
.com_cart_list_wrap .com_list_style1 + .btn_del_selected {
    float: left;
    height: 34px;
    margin-top: 20px;
    padding: 0 12px;
    font-weight: 400;
    font-size: 14px;
    color: #373e46;
    line-height: 34px;
    text-align: center;
    border: 1px solid #bebebe;
}
.com_cart_list_wrap .com_list_style1 + .btn_del_selected span {
    color: #9197a3;
}
.com_cart_list_wrap .com_list_style1 + .btn_del_selected span:before {
    content: '(';
}
.com_cart_list_wrap .com_list_style1 + .btn_del_selected span:after {
    content: ')';
}
.com_cart_list_wrap .com_list_style1 + .btn_del_selected + span {
    float: right;
    margin-top: 22px;
    font-weight: 400;
    font-size: 14px;
    color: #5a5a5a;
}
.com_cart_total_price_wrap {
    clear: both;
    float: left;
    margin-top: 60px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    width: 980px;
}
.big_category_wrap table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
.big_category_wrap table caption {
    font: 0/0 a;
    zoom: 1;
}
.big_category_wrap caption, .big_category_wrap th, .big_category_wrap td {
    font-weight: 300;
    line-height: 1.5em;
    text-align: center;
    vertical-align: middle;
}
.com_cart_total_price_wrap tbody td {
    text-align: center;
    height: 120px;
    line-height: 120px;
}
.com_cart_total_price_wrap tbody td strong {
    font-weight: 500;
    font-size: 26px;
    color: #000;
}
.com_cart_total_price_wrap tbody td strong:after {
    content: '원';
    font-size: 21px;
}
.com_cart_total_price_wrap tbody td.com_cart_calculator_marker {
    position: relative;
}
.com_cart_total_price_wrap tbody td.com_cart_calculator_marker:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 36px;
    width: 51px;
    height: 52px;
    /* background: transparent url(./../../images/giftstore/common/bg_calculator_marker.png) left top scroll no-repeat; */
}
.com_cart_total_price_wrap tbody td strong {
    font-weight: 500;
    font-size: 26px;
    color: #000;
}
.com_cart_total_price_wrap tbody td strong:after {
    content: '원';
    font-size: 21px;
}
.com_cart_total_price_wrap tbody td.com_cart_calculator_marker:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 36px;
    width: 51px;
    height: 52px;
    /* background: transparent url(./../../images/giftstore/common/bg_calculator_marker.png) -51px top scroll no-repeat; */
}
.com_cart_total_price_wrap tbody td {
    text-align: center;
    height: 120px;
    line-height: 120px;
}
.com_cart_total_price_wrap tbody td strong.cart_total_price {
    color: #fb4357;
}
.com_cart_total_price_wrap tbody td strong {
    font-weight: 500;
    font-size: 26px;
    color: #000;
}
.com_cart_total_price_wrap tbody td strong:after {
    content: '원';
    font-size: 21px;
}
.com_btn_wrap {
    clear: both;
    position: relative;
    font-family: 'CJONLYONENEW';
    font-size: 0;
    text-align: center;
}
.com_btn_wrap > *:first-child {
    margin-left: 0;
}
a.btn_style0 {
    width: 208px;
    height: 60px;
    font-weight: 500;
    font-size: 19px;
    color: #fff;
    line-height: 60px;
    background-color: #373e46;
    border: 1px solid #373e46;
}
.com_btn_wrap span, .com_btn_wrap a {
    display: inline-block;
    font-size: 18px;
    margin-left: 14px;
}