.fixedBtn_wrap {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  bottom: 80px;
  min-height: 50px;
  margin-left: 440px;
  text-align: center;
  z-index: 7;
}

.fixedBtn_wrap.topBtn .btn_fixedTicketing {
  right: 58px;
  opacity: 1;
  pointer-events: auto;
}

.fixedBtn_wrap .btn_fixedTicketing {
  right: 100px;
  position: absolute;
  left: auto;
  width: 136px;
  padding: 12px 0 14px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 1.500em;
  background-image: linear-gradient(to left, rgb(255, 115, 86), rgb(251, 67, 87));
  box-shadow: 1px 3px 6px 0 rgb(0 0 0 / 30%);
  border-radius: 25px;
  transition: right 0.4s;
}

.fixedBtn_wrap a {
  text-decoration: none;
}
.fixedBtn_wrap.topBtn .btn_gotoTop {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.4s;
}
.fixedBtn_wrap .btn_gotoTop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 40px;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 1px 3px 6px 0 rgb(0 0 0 / 30%);
  border-radius: 50%;
  /* opacity: 0; */
  transition: opacity 0.2s;
  
}
.fixedBtn_wrap .btn_gotoTop img {
  width: 15px;
  height: 21px;
}