/*-------------tab00 html-------------*/
.Movielistmain_all{
	width: 1100px;
    margin: 0 auto;

}
.Movielistmain_header{
	display:block;
}
.Movielistmain_header_title{
	margin-top: 50px;
	margin-left: 70px;
	margin-bottom: 26px;
	font-weight: normal;
}

.Movielistmain_container ul.Movielistmain_tab {
	position: absolute;
   	margin-left: 40px;
	width:1100px;
}

.Movielistmain_container ul.Movielistmain_tab li{
	display: inline-block;
	width: 190px;
	
} 
.Movielistmain_container ul.Movielistmain_tab li button{
	color:black; 
	background-color: white;
	cursor: pointer;
	width: 100%;
	height: 45px;
	text-decoration: none;
	
}
.Movielistmain_container ul.Movielistmain_tab li .Movielist_selected{
	color: #fb4357;
	font-weight: bolder;
	border-color: #fb4357;
	border-bottom: 1px solid white;
}
.Movielistmain_container ul.Movielistmain_tab li .Movielist_non-selected{
	border-top: 1px solid rgb(211, 208, 208);
	border-left: 1px solid rgb(211, 208, 208);
	border-right: 1px solid rgb(211, 208, 208);
	border-bottom: 1px solid #fb4357;
}

.Movielist_checkbox{
	margin-top:120px;
	margin-left:90px;
	width:100px;
	height: 20px;
	opacity: 0.7;
}

.Movielist_toggleSwitch {
  width: 30px;
  height: 15px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: rgb(175, 173, 173);
  box-shadow: 0 0 0 1px rgba(0 0 0 / 30%);
  border: 1px solid black;
  cursor: pointer;
  margin-left: 2%;
  margin-top: 2%;
}

.Movielist_toggleSwitch .Movielist_toggleButton {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-55%);
  border-radius: 50%;
  background: black;
}

#Movielist_toggle:checked ~ .Movielist_toggleSwitch {
  background: blue;
}

#Movielist_toggle:checked ~ .Movielist_toggleSwitch .Movielist_toggleButton {
  left: calc(4% + 15px);
  background: white;
}

.Movielist_toggleSwitch, .Movielist_toggleButton {
  transition: all 0.2s ease-in;
}

.Movielist_checkbox_only{
	font-size:14px;
	width: 60px;
	margin-left: 40px;
	transform: translateY(-10%);
}
.Movielist_moviecount{
	font-weight: bolder;
	margin-left: 130px;
	transform: translateY(-90%);
	width: 300px;
	float: left;
}

.Movielist_moviecount_tab02{
	font-weight: bolder;
	transform: translateY(-30%);
	width: 300px;
	float: left;
}


#Movielist_search{
	margin-left: 735px;
	width: 200px;
	height: 25px;
	transform: translateY(-185%);
	border : 1px solid rgb(172, 170, 170);
	
}
#search_icon{
	margin-left: 910px;
	transform: translateY(-355%);
    width: 20px;
    height: 20px;
	cursor: pointer;
}

.Movielist_movietitle{
	width: 960px;
	height: 100%;
	margin-top: 20px;
	margin-left: 78px;
	
}
.Movielist_movietitle ol{
	list-style: none;
	margin:0;
	padding:0;
}
.Movielist_movietitle ol li{
	margin: 0 8px 30px 0;
	width: 230px;
	height: 450px;
	float:left;
}

.Movielist_title_num{
	position: absolute;
	font-size: 35px;
	z-index: 5;
	font-style: italic;
	text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
	color: white;
	margin-left: 12px;
}
.Movielist_title_img > .movielist_info {
	opacity: 0;
	transition: opacity 1s;
}

.Movielist_title_img{
	position: absolute;
	width: 230px;
	height: 331px;
	z-index: 3;
	cursor: pointer;
}

.movielist_info{
	position: relative;
    display: block;
    width: 230px;
    height: 330px;
    padding: 20px;
    color: #fff;
	z-index: 0;
    background-color: rgba(0,0,0,.8);
}
.Movielist_title_img:hover{
	display: none;
	transition: opacity 1s;
}
.movielist_summary{
	overflow: hidden;
    height: 200px;
    width: 100%;
    margin-top: 15px;
    padding: 5px 0 0 0;
    border-top: 1px solid #3c3c3c;
    text-align: center;
	cursor: pointer;
}

.movielist_moviescore_preview{
	display: inline-block;
    text-align: center;
	margin-left: 50px;
    line-height: 36px;
}
.movielist_moviescore_tit{
	display: block;
    float: left;
    margin: 0 15px 0 0;
    font-size: 0.8667em;
	transform: translateY(+75%);
}

.movielist_moviescore_number{
	float: left;
    font-size: 1.6em;
	font-weight: bold;
	margin-left: -5px;
    color: #59bec9;
	transform: translateY(+75%);
}

.Movielist_title_area{
	position: relative;
    width: 100%;
    margin: 13px 0 0 0;
    padding: 0 0 0 10px;
    line-height: 25px;
}
.Movielist_grade_age{
	position: absolute;
	width: 23px;
	margin-left: -3px;
	margin-top: -3px;
    background-size: 23px 23px;
	transform: translateY(+20%);
}
.Movielist_title_maintitle{
	color: black;
	overflow: hidden;
	display: block;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 2px 0 0 30px;
	margin-left: -5px;
	font-size: 1.1em;
	font-family: 굴림체;
	font-weight: bold;
	transform: translateY(-5%);
}

.Movielist_title_Link{
	text-decoration: none;
}

.Movielist_title_ratedate{
	color: black;
	width: 235px;
	margin: 0 0 0 3px;
    padding: 10px 8px 0 5px;
	margin-left: -0.5px;
	font-size: 13.5px;
	transform: translateY(-65%);
}

.Movielist_Btnlist{
    padding: 4px 0 0 4px;
    width: 100%;
    height: 36px;
	
}
.Movielike_Btn{
	width:60px;
	height: 35px;
	text-align: right;
	margin:0;
	border-color: #d4d2d2;
	background-color: white;
	border-radius: 4px;
	transform: translateY(-70%);
	cursor: pointer;
}
#movie_heart_img{
	width: 18px;
	transform: translateY(-145%);
	margin-left: -50px;
	cursor: pointer;
}

.Movie_Btn_reserve{
	width:230px;
	height: 35px;
	margin-top: 5px;
	color:white;
	border : 0px;
	background-color: purple;
	border-radius: 4px;
	transform: translateY(-51%);
	cursor: pointer;
}

.Movie_Btn_reserve_yet{
	width:230px;
	height: 35px;
	margin-top: 5px;
	color:white;
	border : 0px;
	background-color: #666;
	border-radius: 4px;
	transform: translateY(-51%);
	cursor: pointer;
}

.Movielist_add_button{
	width: 950px;
	height: 40px;
	margin-bottom: 100px;
	cursor: pointer;
	color: #666;
	font-size: 16px;
	font-weight: bold;
	background-color: white;
	border: 1px solid #eaeaea;
}

.Movielist_add_button:checked{
	display: none;
}