.modalhead {
    z-index: 9999;
    width: 100%;
    height: 2250px;
    position: absolute;
    animation: modal-show 0.3s;

    left: 0;
    top: 0;
}
/* 모달창을 화면 중앙. 최상단에 노출 */
.containerss {
    /* 모달창 크기 */

    /* 최상단 위치 */
    z-index: 999;
    position: relative;
    top: 7.2%;
    left:68.5%;
    /* 모달창 디자인 */
    background-color: #fff;
    border-radius: 8px;
}

/* 모달창 내부 X버튼 */
.closeima {
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 15px;
    font-weight: 600;
}
.modalhead section {
    color: #B20710;
}
.reservation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #B20710;
}
.editprofile {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_input_area .reservation a .button {
    width: 100px;
    height: 20px;
    border-radius: 10px;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
    color: #fff;
    background-color: #B20710;
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 10px;
    /* margin-top: 40px; */
    font-size: 5px;
}


